@import "config";

/* 
    STYLING FOR THE BOOK COMPONENENT
*/
.book-container {
    width: 22vh;
    text-align: center;
    color: $accent-color;

    .img-container {
        position: relative;
        height: 30vh;
        img {
            aspect-ratio: 16/9;
            width: 100%;
        }
        .img-cover {
            aspect-ratio: 16/9;
            width: 22vh;
            height: 29.8vh;
            background-color: rgba($color: #fff, $alpha: .4);
            position: relative;
            top: -30.5vh;
            display: none;
            justify-content: center;
            align-items: center;
         
            .add-cart {
                background-color: $accent-color;
                width: 15vh;
                height: 5vh;
                color: white;
                position: relative;
                display: none;
                justify-content: center;
                align-items: center;
            }
            //display: none;
        }
        &:hover {
            .img-cover {
                display: flex;
            }
            .add-cart {
                display: flex;
            }
        }
    }
    
}

.container {
    display: flex;
    width: 100%;
}

aside {
    width: 15%;
    height: 100vh;
    background-color: $accent-color;
}

.page-content {
    width: 85%;
    padding-left: 1vw;
}

.book-list-page {
    width: 100%;

    .list-title {
        color: $accent-color;
        font-size: 2rem;
        border-bottom: 3px solid $accent-color ;
        margin-bottom: 2vh;
    }

    .book-list {
        list-style: none;
        display: flex;
        justify-content: space-between;
        overflow-x: scroll;

        li {
            margin-right: 4vw;
        }
    }

    margin-bottom: 2vh;
}